<div class="container">
  <h2 class="h2">User Details</h2>
  <hr />
  <div class="card" style="width: 18rem">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Employee ID : {{ userDetails.employeeId }}
      </li>
      <li class="list-group-item">UserName : {{ userDetails.name }}</li>
      <li class="list-group-item">
        Designation : {{ userDetails.designation }}
      </li>
    </ul>
  </div>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userDetail of userReimbursementArray">
        <td>{{ userDetail.id }}</td>
        <td>{{ userDetail.name }}</td>
        <td>{{ userDetail.amount }}</td>
        <td>{{ userDetail.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
