<!-- <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="pull-left">
        <div class="list-group-item-heading">{{ recipe.name }}</div>
        <div class="list-group-item-text">{{ recipe.description }}</div>
      </div>
      <div class="pull-right"></div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>

<ul class="list-group list-group-flush border border-round">
  <!-- recipe item render here -->
  <app-recipe-item
    *ngFor="let recipeEl of recipes; let i = index"
    [recipe]="recipeEl"
    [index]="i"
  ></app-recipe-item>
</ul>
