[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jsonschema = "*"
uvicorn = {version = "*", extras = ["standard"]}
mysql-connector-python = "*"
python-jose = "*"
pylint = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.11"
